<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Language</title>
    <h1 id="Nav-bar">Here Will Be Navbar!</h1>
  </head>


  <body>

  <div id="start">
    <p>The limits of my language mean the limits of my world.</p>
    <p>With our teachers you will be able to extend your language knowledge.</p>
  </div>

  <div id="countries">
     <img src="IZ.jpg" width="300" height="300">
     <img src="RU.png" width="300" height="300">
     <img src="US.png" width="300" height="300">
     <img src="GE.png" width="300" height="300">
  </div>

  <div id="Try">
    <h2>Want to try?</h2>
  </div>

  <div id="Describe">
    <p>Let us tell you how we are different!</p>
    <p>AB CD AB CD AB CD AB CD AB CD AB CD AB CD AB</p>
    <p>AB CD AB CD AB CD AB CD AB CD AB CD AB CD AB</p>
    <p>AB CD AB CD AB CD AB CD AB CD AB CD AB CD AB</p>
    <p>AB CD AB CD AB CD AB CD AB CD AB CD AB CD AB</p>
    <p>AB CD AB CD AB CD AB CD AB CD AB CD AB CD AB</p>
  </div>
  </body>

<footer>
<h1 id="I will be footer">Here Will Be Footer!</h1>
</footer>

</html>
