<!DOCTYPE html>

{% block header %}
	{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<html lang="en" dir="ltr">

  <body>
  <div id="start">
    <p>The limits of my language mean the limits of my world.</p>
    <p>With our teachers you will be able to extend your language knowledge.</p>
  </div>

  <div id="countries">
     <img src="/static/home/IZ.jpg" width="300" height="300">
     <img src="/static/home/RU.png" width="300" height="300">
     <img src="/static/home/US.png" width="300" height="300">
     <img src="/static/home/GE.png" width="300" height="300">
  </div>

  <div id="try">
    <h2>Want to try?</h2>
  </div>

  <div id="describe">
    <p>Let us tell you how we are different!</p>
    <p>AB CD AB CD AB CD AB CD AB CD AB CD AB CD AB</p>
    <p>AB CD AB CD AB CD AB CD AB CD AB CD AB CD AB</p>
    <p>AB CD AB CD AB CD AB CD AB CD AB CD AB CD AB</p>
    <p>AB CD AB CD AB CD AB CD AB CD AB CD AB CD AB</p>
    <p>AB CD AB CD AB CD AB CD AB CD AB CD AB CD AB</p>
  </div>
  </body>

<footer>
<h1 id="I will be footer">Here Will Be Footer!</h1>
</footer>

</html>
{% endblock %}
